.sidebar__overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 29;
    width: 100%;
    height: 100%;
    background: rgba(1,1,1,0.5);
    display: none;
    cursor: pointer;
}

.sidebar{
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100%;
    min-height: 100vh;
    background: var(--color-ui-02);
    border-right: var(--gray-border);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    transition: var(--transition);
}

/* Sidebar  Top*/
.sidebar > .sidebar__top {
    padding:10px 20px;
}
.sidebar > .sidebar__top > .logo__container{
     display: flex;
     align-items: center;
     gap: 10px;
}

.sidebar > .sidebar__top > .logo__container>.logo{
    width: 30px;
}

/* Sidebar  Middle */
.sidebar > .sidebar__middle{
    padding: 10px 20px;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar > .sidebar__middle>.route{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    color: var(--color-muted);
    position: relative;
    margin: 10px 0;
    transition: var(--transition);
    cursor: pointer;
}

.sidebar > .sidebar__middle>.route:hover{
    color: var(--color-text);
}
.sidebar > .sidebar__middle>.route.active{
    background: var(--color-ui-02);
    border-radius: var(--border-radius-1);
    color: var(--color-primary);

}
.sidebar > .sidebar__middle>.route.active::after{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    background: var(--color-primary);
    border-radius: var(--border-radius-1);
}

.sidebar > .sidebar__middle>.route >h4{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}




/* Sidebar bottom start here */
.sidebar > .sidebar__bottom{
    padding: 20px
}



/* Responsive */
@media (max-width:1100px){
    .sidebar{
        left: -100%;
    }
    .sidebar.active{
        left: 0;
        width: 80vw;
        border-right: none;
    }
    .sidebar__overlay.active{
        display: block;
    }
}