@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
   --color-text:#000000;
   --color-muted:#7C7C7C;
   --color-primary:#FF444F;
   --color-red:#FF0000;
   --color-white:#FFF;
   --color-danger:#fc605b;
   --color-danger-variant:#FFA7A7;
   --color-danger-text:#740000;
   --color-warning:#ffbb55;
   --color-success:#33c648;
   --color-success-variant:#A9FFA7;
   --color-green:#037400;
   --gray-border:1px solid #D1D1D1;
   --color-ui-01:#F7F7F7;
   --color-ui-02:#FFFFFF;
   --color-ui-03: #FFFFFF;
   --color-ui-04: #D1D1D1;
   --border-radius-1:0.4rem;
   --border-radius-2:0.8rem;
   --border-radius-3:1.2rem;--border-radius-1:0.4rem;
   --border-radius-2:0.8rem;
   --border-radius-3:1.2rem;
   --transition:0.4s;
   --inner-glow-shadow:inset 0 0 0.5px 1px hsla(0, 0%,  
    100%, 0.075),
    /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}



[data-theme='dark']{
  --color-text:#FFFFFF;
  --gray-border:1px solid #3C3C3C;
  --color-ui-01:#0F0E0E;
  --color-ui-02: linear-gradient(0deg, #000000, #000000),linear-gradient(0deg, #3C3C3C, #3C3C3C);
  --color-ui-03: linear-gradient(0deg, #232323, #232323),linear-gradient(0deg, #3C3C3C, #3C3C3C);
  --color-ui-04:#232323;
}
*{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

body{
  font-family: "Poppins",sans-serif;
  background: var(--color-ui-01);
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  color: var(--color-text);
}
input{
  background: transparent;
  color: var(--color-text);
  overflow: hidden;
}

h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

h3{
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
p{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
}
.text__muted{
  color: var(--color-muted);
}
img{
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.btn{
  padding: 6px 12px;
  border-radius: var(--border-radius-2);
  gap: 8px;
  background: #000000;
  color: var(--color-white);
  font-size: 12px;
  cursor: pointer;
}

.dot{
  width: 5px;
  height: 5px;
  min-width: 5px;
  min-height: 5px;
  max-width: 5px;
  max-height: 5px;
  display: block;
  border-radius: var(--border-radius-3);
  background: var(--color-success);
}

.profile__container{
  width: 2.5rem;
  height: 2.5rem;
  max-width: 2.5rem;
  min-width: 2.5rem;
  max-height: 2.5rem;
  min-height: 2.5rem;
  overflow: hidden;
  border-radius: var(--border-radius-2);
  cursor: pointer;
  transition: var(--transition);
}

.profile__container:hover{
  opacity: 0.7;
}




@media (max-width:768px){
  h1{
    font-size: 25px;
  }
  h3{
    font-size: 18px;
  }
}