.right__bar__container{
    position: sticky;
    top: 100px;
    right: 0;
    width: 300px;
}

.right__bar__container>.sales__by__category__card > .top{
    padding: 20px;
}




.right__bar__container>.best__selling__container{
    background: var(--color-ui-02);
    box-shadow: var(--inner-glow-shadow);
    padding: 20px;
    border-radius: var(--border-radius-2);
}

.right__bar__container>.best__selling__container>.middle>.product__card{
    display: flex;
    gap: 20px;
    border-bottom: var(--gray-border);
    padding: 10px 0;
}
.right__bar__container>.best__selling__container>.middle>.product__card:last-child{
    border-bottom: none;
}

.right__bar__container>.best__selling__container>.middle>.product__card .detail{
    flex: 1;
}

.right__bar__container>.best__selling__container>.middle>.product__card>.product__image{
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    max-width: 3rem;
    max-height: 3rem;
    overflow: hidden;
    border-radius: var(--border-radius-2);
    border: var(--gray-border);
}

.right__bar__container>.best__selling__container>.middle>.product__card .name,
.right__bar__container>.best__selling__container>.middle>.product__card .category,
.right__bar__container>.best__selling__container>.middle>.product__card .percentage
{
    font-size: 12px;
}

.right__bar__container>.best__selling__container>.middle>.product__card .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right__bar__container>.best__selling__container>.middle>.product__card .percentage{
    background: var(--color-success-variant);
    color: var(--color-green);
    padding: 3px 5px;
    border-radius: var(--border-radius-2);
}